/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: $z-fixed;

    li {
        list-style: none;
    }
}

/*=============== NAV ===============*/
.nav {
    height: $header-height;

    .social-media {
        display: none;
    }

    &__logo,
    &__burger,
    &__close {
        color: $white-color;
    }

    &__data {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 2 * $font-size-base;
        display: inline-flex;
        align-items: baseline;
        column-gap: .25rem;
        font-weight: $font-semi-bold;
        // Color highlighting when pressed on mobile devices
        // -webkit-tap-highlight-color: transparent;

        & i {
            font-weight: initial;
            font-size: 1.25rem;
        }
    }

    &__toggle {
        position: relative;
        width: 32px;
        height: 32px;
    }

    &__burger,
    &__close {
        position: absolute;
        width: max-content;
        height: max-content;
        inset: 0;
        margin: auto;
        font-size: 1.25rem;
        cursor: pointer;
        transition: opacity .1s, transform .4s;
    }

    &__close {
        opacity: 0;
    }

    // Navigation for mobile devices
    @media screen and (max-width: $device-screen) {
        &__menu {
            position: absolute;
            left: 0;
            top: 2.5rem;
            width: 100%;
            height: calc(100vh - $header-height);
            overflow: auto;
            pointer-events: none;
            opacity: 0;
            transition: top .4s, opacity .3s;
            backdrop-filter: $dark;

            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__list {
            // background-color: $black-color;
            padding-top: 1rem;
        }
    }

    &__link {
        color: $white-color;
        // background-color: $black-color;
        background-color: #999;
        font-weight: $font-semi-bold;
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;

        &:hover {
            background-color: #777;

        }
    }
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
    backdrop-filter: blur(4px);
    background-color: rgba($color: #000000, $alpha: .2);
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown {
    &__item {
        cursor: pointer;
    }

    &__arrow {
        font-size: 1.25rem;
        font-weight: initial;
        transition: transform .4s;
    }

    &__link,
    &__sublink {
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
        color: $white-color;
        // background-color: $black-color-light;
        background-color: #777;
        display: flex;
        align-items: center;
        column-gap: .5rem;
        font-weight: $font-semi-bold;
        transition: background-color .3s;

        & i {
            font-size: 1.25rem;
            font-weight: initial;
        }

        &:hover {
            // background-color: $black-color;
            background-color: #444;
        }
    }

    &__menu,
    &__submenu {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s ease-out;
        background-color: rgba($color: #444, $alpha: .4);
    }

    // Show dropdown menu & submenu
    &__item:hover &__menu,
    &__subitem:hover>&__submenu {
        max-height: 1000px;
        transition: max-height .4s ease-in;
        width: auto;

    }

    // Rotate dropdown icon
    &__item:hover &__arrow {
        transform: rotate(180deg);
    }
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown {
    &__add {
        margin-left: auto;
    }

    // &__sublink {
    //     background-color: $black-color-lighten;
    // }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: $device-screen) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: $device-screen) {
    .container {
        margin-inline: auto;
        padding: 0 2rem;
    }

    .nav {
        height: calc($header-height + 2rem);
        display: flex;
        justify-content: space-between;

        .social-media {

            display: initial;
            margin: 0 auto 0 3rem;

            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                background: transparent;
                border: 2px solid #FFF;
                border-radius: 0.375rem;
                text-decoration: none;
                margin-right: 0.625rem;
                transition: 0.3s;
            }

            a:hover {
                background-color: #FFF;
            }

            a:hover i {
                color: #444;
            }

            a i {
                font-size: 1.25rem;
                color: #FFF;
                transition: .3s;
            }
        }


        &__toggle {
            display: none;
        }

        &__list {
            height: 100%;
            display: flex;
            column-gap: 3rem;
        }

        &__link {
            height: 100%;
            padding: 0;
            justify-content: initial;
            column-gap: .25rem;
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .dropdown {

        &__item,
        &__subitem {
            position: relative;
        }

        &__menu,
        &__submenu {
            max-height: initial;
            overflow: initial;
            position: absolute;
            left: 0;
            top: 6rem;
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s, top .3s;
            transform: translateX(-50%);
            // background-color: $dark;
            // background-color: #444;
        }

        &__link,
        &__sublink {
            padding-inline: 1rem 3.5rem;
        }

        &__subitem &__link {
            padding-inline: 1rem;
        }

        &__submenu {
            position: absolute;
            left: 100%;
            top: .5rem;
        }

        // Show dropdown menu
        &__item:hover &__menu {
            opacity: 1;
            top: 5.5rem;
            pointer-events: initial;
            transition: top .3s;

            .dropdown__link:hover {
                // background-color: $black-color-light;
                background-color: #444;
            }
        }

        // Show dropdown submenu
        &__subitem:hover>&__submenu {
            opacity: 1;
            top: 0;
            pointer-events: initial;
            transition: top .3s;
        }
    }
}